:root {
    --blue-grid-light: #5585ff;
    --border-weekend: #ed4d7a;
    --month-color: #055a37;
    --holiday-color: #294794;
    --today-background: #a13232;;
    --today-text: #fff;
    --day-text: #182a39;
    --same-day-color: #141c35;
    --multi-day-color: #001f57;

    --events-dean: #193497;
    --events-strugs: #3631ab;
    --events-shared: #453053;
    --events-birthday: #654d4d;

    --corder-radius: 2px;
    --row-height: 15px;
}

.calendar-container {
    width: 100%;
    /* transform: scale(0.5); */
    transform-origin: top left;
}

.calendar {
    width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("paper.jpg");
    background-size: 100%;
    background-repeat: repeat;
    font-family: 'Dink', serif;
    font-weight: 700;
}

.weeks {
    width: 100%;
    padding: 2px;
    mix-blend-mode: color-burn;
}

.week {
    padding-left: 1px;
    border-left: 2px solid var(--blue-grid-light);
    padding-right: 1px;
    border-right: 2px solid var(--blue-grid-light);
    border-radius: 3px;
    flex-direction: row;
}

.week:first-child {
    padding-top: 1px;
    border-top: 2px solid var(--blue-grid-light);
}

.week:last-child {
    padding-bottom: 1px;
    border-bottom: 2px solid var(--blue-grid-light);
}

.day {
    width: calc(100% / 7);
    min-height: 180px;
    border-left-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-right-color: var(--blue-grid-light);
    border-top-color: var(--blue-grid-light);
    padding: 4px 4px 4px 4px;

    justify-content: space-between;
    font-size: 18px;
    line-height: var(--row-height);
}

.day-border {
    justify-content: space-between;
    flex-grow: 1;
    border: 3px solid transparent;
    padding: 4px 4px 4px 4px;
}

.holiday-border {
   border: 3px dotted var(--holiday-color);
}

.month-label-container {
    position: relative;
    top: 0px;
    width: 0px;
    height: 0px;
}

.month-label {
    font-size: 17px;
    line-height: 15px;
    color: var(--month-color);
    position: absolute;
    border: 2px solid var(--month-color);
    border-radius: 2px;
    padding: 2px 5px 0px;
    font-style: italic;
}

.holiday-label-container {
    position: absolute;
    align-self: flex-end;
}
.holiday-label {
    position: relative;
    right: 0px;
    font-size: 13.5px;
    line-height: 10px;
    overflow: hidden;
    max-height: 20px;
    text-align: right;
    color: var(--holiday-color);
    position: absolute;
    border-radius: 2px;
    padding: 2px 5px 0px;
    font-style: italic;
}

.day-number-container {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    padding-left: 2px;
    height: 24px;
}

.day-number {
    font-size: 24px;
    padding-top: 3px;
    color: var(--day-text);
    text-align: center;
}

.today .day-number-container {
    border-radius: 100px;
    box-shadow: #520a0a 1.5px -0.2px 0.4px;
    border-right: 1.5px dotted #a25f34;
    background-color: var(--today-background);
}

.today .day-number {
    color: var(--today-text);
}

.e-dean {
    color: var(--events-dean);
}

.e-strugs {
    color: var(--events-strugs);
}

.e-birthday {
    color: var(--events-birthday);
}

.e-shared {
    color: var(--events-shared);
}

.same-day-events {
    margin-top: 9px;
    margin-left: 0px;
    flex-direction: column;
}

.same-day-event {
    flex-direction: row;
    display: inline;
    max-height: 30px;
    overflow: hidden;
}

.time {
    text-decoration: underline;
}

.same-day-event:not(:first-child) {
    margin-top: 8px
}

.multi-day-events {
    width: 100%;
    white-space: nowrap;
    flex-direction: column-reverse;
    height: calc((var(--max-position) + 1) * var(--row-height));
    margin-bottom: -5px;
}

.multi-day-event {
    position: absolute;
    margin-bottom: calc(var(--row-position) * var(--row-height));
}

.multi-day-event-name {
    z-index: 2;
    background-color: #ffffff;
    display: inline;
}

.multi-day-event-cont {
    z-index: 1;
}

.multi-day-event-end {
    z-index: 1;
}

.day:nth-child(5) {
    /* background-color: #f0e5de; */
    border-right-color: var(--border-weekend);
    border-right-width: 2px;
    /* border-top-color: var(--border-weekend); */
}

.day:first-child {
    border-left-color: var(--blue-grid-light);
    border-left-width: 1px;
}

.week:last-child > .day {
    border-bottom-color: var(--blue-grid-light);
}

.day.month-boundary-right {
    border-right: 2.8px solid var(--month-color);
}

.day.month-boundary-top {
    border-top: 2.8px solid var(--month-color);
}


.week:first-child > .day:first-child {
    border-top-left-radius: var(--corder-radius);
}

.week:first-child > .day:last-child {
    border-top-right-radius: var(--corder-radius);
}

.week:last-child > .day:first-child {
    border-bottom-left-radius: var(--corder-radius);
}

.week:last-child > .day:last-child {
    border-bottom-right-radius: var(--corder-radius);
}


