:root {
    --blue-grid-light: #001eff;
    --border-weekend: #ff0000;
    --month-color: #d2ff30;
    --holiday-color: #ddddcc;
    --today-background: #ff0000;;
    --today-text: #ffffff;
    --day-text: #ffffff;
    --same-day-color: #000000;
    --multi-day-color: #ff00ff;

    --events-dean: #ffffff;
    --events-strugs: #ff88aa;
    --events-shared: #ffff00;
    --events-birthday: #88d9aa;

    --background: #000000;

    --corder-radius: 2px;
    --row-height: 25px;
}

.calendar-container {
    width: 100%;
    /* transform: scale(0.5); */
    transform-origin: top left;
}

.calendar {
    width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url("back.png"); */
    background-color: var(--background);
    background-size: 50%;
    background-repeat: repeat;
}

.weeks {
    width: 100%;
    /* padding: 2px; */
    /* mix-blend-mode: color-burn; */
}

.week {
    /* padding-left: 1px; */
    /* border-left: 2px solid var(--blue-grid-light); */
    /* padding-right: 1px; */
    /* border-right: 2px solid var(--blue-grid-light); */
    /* border-radius: 3px; */
    flex-direction: row;
}

.week:first-child {
    padding-top: 1px;
    /* border-top: 2px solid var(--blue-grid-light); */
}

.week:last-child {
    padding-bottom: 1px;
    /* border-bottom: 2px solid var(--blue-grid-light); */
}

.day {
    width: calc(100% / 7);
    min-height: 180px;
    border-left-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-right-color: var(--blue-grid-light);
    border-top-color: var(--blue-grid-light);
    padding: 4px 4px 4px 4px;

    justify-content: space-between;
    font-size: 25px;
    line-height: var(--row-height);
}

.day-border {
    justify-content: space-between;
    flex-grow: 1;
    border: 4px solid transparent;
    padding: 3px 3px 3px 3px;
}

.holiday-border {
   border: 4px dotted var(--holiday-color);
}

.month-label-container {
    position: relative;
    top: 0px;
    width: 0px;
    height: 0px;
}

.month-label {
    font-size: 22px;
    line-height: 15px;
    color: var(--month-color);
    position: absolute;
    border: 2px solid var(--month-color);
    border-radius: 2px;
    padding: 4px 5px 0px;
    font-style: italic;
}

.holiday-label-container {
    position: absolute;
    align-self: flex-end;
}
.holiday-label {
    position: relative;
    right: -9px;
    background-color: var(--background);
    font-size: 13px;
    line-height: 10px;
    overflow: hidden;
    max-height: 22px;
    text-align: right;
    color: var(--holiday-color);
    position: absolute;
    border-radius: 2px;
    padding: 2px 0px 0px;
    font-style: italic;
}

.day-number-container {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    padding-left: 2px;
    height: 24px;
}

.day-number {
    font-size: 30px;
    padding-top: 4px;
    color: var(--day-text);
    text-align: center;
}

.today .day-number-container {
    border-radius: 100px;
    box-shadow: #520a0a 1.5px -0.2px 0.4px;
    border-right: 1.5px dotted #a25f34;
    background-color: var(--today-background);
}

.today .day-number {
    color: var(--today-text);
}

.e-dean {
    color: var(--events-dean);
}

.e-strugs {
    color: var(--events-strugs);
}

.e-birthday {
    color: var(--events-birthday);
}

.e-shared {
    color: var(--events-shared);
}

.same-day-events {
    margin-top: 9px;
    margin-left: 0px;
    flex-direction: column;
}

.same-day-event {
    flex-direction: row;
    display: inline;
    max-height: calc(var(--row-height) * 2);
    overflow: hidden;
}

.time {
    text-decoration: underline;
    margin-right: -5px;
}

.same-day-event:not(:first-child) {
    margin-top: 8px
}

.multi-day-events {
    width: 100%;
    white-space: nowrap;
    flex-direction: column-reverse;
    height: calc((var(--max-position) + 1) * var(--row-height));
    margin-bottom: -5px;
}

.multi-day-event {
    position: absolute;
    margin-bottom: calc(var(--row-position) * var(--row-height));
}

.multi-day-event-name {
    z-index: 2;
    background-color: var(--background);
    display: inline;
}

.multi-day-event-cont {
    z-index: 1;
    flex-direction: row;
}

.terminator {
    margin-left: -3px;
}

.day:nth-child(5) {
    /* background-color: #f0e5de; */
    border-right-color: var(--border-weekend);
    border-right-width: 4px;
    /* border-top-color: var(--border-weekend); */
}

.day:first-child {
    border-left-color: var(--blue-grid-light);
    border-left-width: 1px;
}

.week:last-child > .day {
    border-bottom-color: var(--blue-grid-light);
}

.day.month-boundary-right {
    border-right: 4px solid var(--month-color);
}

.day.month-boundary-top {
    border-top: 4px solid var(--month-color);
}


.week:first-child > .day:first-child {
    border-top-left-radius: var(--corder-radius);
}

.week:first-child > .day:last-child {
    border-top-right-radius: var(--corder-radius);
}

.week:last-child > .day:first-child {
    border-bottom-left-radius: var(--corder-radius);
}

.week:last-child > .day:last-child {
    border-bottom-right-radius: var(--corder-radius);
}


