:root {
    --blue-grid-light: #4869be;
    --border-weekend: #9a0f0f;
    --month-color: #053722;
    --today-background: #7a0f25;
    --today-text: #fff;
    --day-text: #0c191d;
    --pen-color: #141c35;
    --multi-day-color: #06255e;

    --corder-radius: 2px;
    --row-height: 12px;
}

div {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@font-face {
    font-family: Hand;
    src: url("AlexandriaWhitehouse.otf") format("opentype");
}

body {
    margin: 0px;
    background-color: #f5efe7;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("paper.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-color: #cccccc;
    font-family: 'Courier New';
    width: 1680px;
}

.weeks {
    width: 100%;
    padding: 10px;
    mix-blend-mode: color-burn;
}

.week {
    padding-left: 1px;
    border-left: 2px solid var(--blue-grid-light);
    padding-right: 1px;
    border-right: 2px solid var(--blue-grid-light);
    border-radius: 3px;
    flex-direction: row;
}

.week:first-child {
    padding-top: 1px;
    border-top: 2px solid var(--blue-grid-light);
}

.week:last-child {
    padding-bottom: 1px;
    border-bottom: 2px solid var(--blue-grid-light);
}

.day {
    width: calc(100% / 7);
    min-height: 150px;
    border-left-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-right-color: var(--blue-grid-light);
    border-top-color: var(--blue-grid-light);
    padding: 6px 6px 1px 6px;

    justify-content: space-between;
}

.month-label-container {
    position: relative;
    top: 0px;
    width: 0px;
    height: 0px;
}

.month-label {
    font-size: 17px;
    line-height: 17px;
    font-weight: 600;
    color: var(--month-color);
    position: absolute;
    border: 2px solid var(--month-color);
    border-radius: 2px;
    padding: 0px 5px;
}

.day-number-container {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    width: 36px;
    height: 24px;
}

.day-number {
    font-size: 24px;
    color: var(--day-text);
    text-align: center;
}

.today .day-number-container {
    box-shadow: #ff0000 .5px .3px;
    border: 1px solid #540f0f;
    background-color: var(--today-background);
}

.today .day-number {
    color: var(--today-text);

}

.same-day-events {
    margin-top: 5px;
    margin-left: 0px;
    flex-direction: column;
}

.same-day-event {
    color: var(--pen-color);
    font-weight: 600;
    font-size: 17.5px;
    line-height: 15.5px;
    flex-direction: row;
    display: inline;
}

.time {
    text-decoration: underline;
    display: inline;
}

.same-day-event:not(:first-child) {
    margin-top: 7px
}

.multi-day-events {
    font-weight: 600;
    font-size: 17.5px;
    line-height: 15.5px;
    width: 100%;
    color: var(--multi-day-color);
    white-space: nowrap;
    flex-direction: column-reverse;
    height: calc((var(--max-position) + 1) * 15.5px)
}

.multi-day-event {
    position: absolute;
    margin-bottom: calc(var(--row-position) * 15.5px)
}

.multi-day-event-name {
    z-index: 2;
    background-color: white;
}

.multi-day-event-cont {
    z-index: 1;
}

.multi-day-event-end {
    z-index: 1;
}

.day:nth-child(5) {
    /* background-color: #f0e5de; */
    border-right-color: var(--border-weekend);
    border-right-width: 2px;
    /* border-top-color: var(--border-weekend); */
}

.day:first-child {
    border-left-color: var(--blue-grid-light);
    border-left-width: 1px;
}

.week:last-child > .day {
    border-bottom-color: var(--blue-grid-light);
}

.day.month-boundary-right {
    border-right: 2.8px solid var(--month-color);
}

.day.month-boundary-top {
    border-top: 2.8px solid var(--month-color);
}


.week:first-child > .day:first-child {
    border-top-left-radius: var(--corder-radius);
}

.week:first-child > .day:last-child {
    border-top-right-radius: var(--corder-radius);
}

.week:last-child > .day:first-child {
    border-bottom-left-radius: var(--corder-radius);
}

.week:last-child > .day:last-child {
    border-bottom-right-radius: var(--corder-radius);
}


