:root {
    --border-light: #1f47ad;
    --border-weekend: #9a0f0f;
    --border-month: #0e2d24;
    --today-background: #8c060b;
    --today-text: #fff;
    --day-text: #0c191d;
    --pen-color: #141c35;

    --corder-radius: 2px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
    font-family: Hand;
    src: url("AlexandriaWhitehouse.otf") format("opentype");
}

body {
    margin: 0px;
    background-color: #f5efe7;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("paper.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-color: #cccccc;
}

.weeks {
    width: 100%;
    padding: 10px;
    mix-blend-mode: color-burn;
}

.week {
    display: flex;
}

.day {
    width: calc(100% / 7);
    min-height: 150px;
    border-left-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-right-color: var(--border-light);
    border-top-color: var(--border-light);
    padding: 8px;

    display: flex;
    flex-direction: column;
}

.day-number-container {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    width: 36px;
    height: 36px;
}

.day-number {
    font-size: 24px;
    font-family: 'Courier New';
    color: var(--day-text);
    text-align: center;
}

.today > .day-number-container {
    box-shadow: #ff0000 .5px .3px;
    border: 1px solid #540f0f;
    background-color: var(--today-background);
}

.today .day-number {
    color: var(--today-text);

}

.events {
    margin-top: 5px;
}

.event {
    font-size: 18px;
    color: var(--pen-color);
    font-family: 'Courier New';
    font-weight: 600;
    line-height: 15px;
}

.day:nth-child(5),
.day:nth-child(5) {
    /* background-color: #f0e5de; */
    border-right-color: var(--border-weekend);
    border-right-width: 2px;
    /* border-top-color: var(--border-weekend); */
}

.day:first-child {
    border-left-color: var(--border-light);
    border-left-width: 1px;
}

.week:last-child > .day {
    border-bottom-color: var(--border-light);
}

.day.month-boundary-right {
    border-right: 2.8px solid var(--border-month);
}

.day.month-boundary-top {
    border-top: 2.8px solid var(--border-month);
}


.week:first-child > .day:first-child {
    border-top-left-radius: var(--corder-radius);
}

.week:first-child > .day:last-child {
    border-top-right-radius: var(--corder-radius);
}

.week:last-child > .day:first-child {
    border-bottom-left-radius: var(--corder-radius);
}

.week:last-child > .day:last-child {
    border-bottom-right-radius: var(--corder-radius);
}


