.act-6-color {
    background-color: #000000;
    background-color: #ffffff;
    background-color: #ffff00;
    background-color: #ff0000;
    background-color: #0000ff;
    background-color: #00ff00;
}

.act-N-color {
    background-color: #000000;
    background-color: #0000ff;
    background-color: #ff0000;
    background-color: #00ff00;
    background-color: #ff8000;
    background-color: #ffff00;
    background-color: #ffffff;
}